.head{
    text-align: center;
    background-color: skyblue;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
}
.recipe-1{
    color: red;
}
.recipe-2{
    color: green;
}