body{
    background-color: lightyellow;
}
.head{
    text-align: center;
    background-color: rgb(207, 170, 176);
    color: yellow;
    font-family: sans-serif ;
    margin: auto;
    padding: auto;
    height: 50px;
    width: 400px;
    box-sizing: border-box;
}
.recipe-1{
    color: red;
}
.recipe-2{
    color: green;
}