body{
    background-color: lightyellow;
}
.head{
    text-align: center;
    background-color: rgb(207, 170, 176);
    color: yellow;
    font-family: sans-serif ;
    margin: auto;
    padding:2px;
    border: 5px solid pink;
    height: 50px;
    width: 400px;
    box-sizing: border-box;
}
.recipe-1{
    color: rgb(26, 133, 31);
}
.recipe-2{
    color: rgb(226, 54, 31);
}
.dish-1{
    display: block;
    margin: 18px auto;
    border: 10px solid rgb(228, 228, 86);
}
.title-1{
    text-align: center;
    border: 20px solid black;
}
.contain{
    display: inline;
}