.head{
    text-align: center;
    background-color: skyblue;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
    height: 100px;
    width: 200px;
    box-sizing: border-box;
}
.recipe-1{
    color: red;
}
.recipe-2{
    color: green;
}